@import url('https://fonts.googleapis.com/css?family=PT+Sans');

:root {
	--primary-color: rgb(119, 109, 109);
	--secondary-color: #17458f;
	--secondary-color-hover: #143f85;
}

body {
	font-family: 'PT Sans', sans-serif;
	background-color: #ffe900;
	margin: 0;
	color: #0c0c0c;;
	line-height: 1.6;
}

body::-webkit-scrollbar {
	width: 0.8em;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255), 0);
}

body::-webkit-scrollbar-thumb {
	background-color: #0c0c0c;
	background-clip: padding-box;
	color: whitesmoke;
	transition: background .6s ease;
	box-shadow: var(--box-shadow);
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #0c0c0c;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffe900;
}

.loader {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	border: 4px solid #ffe900;
	animation: loader 2s infinite ease;
  }
  
  .loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: #ffe900;
	animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
	0% {
	  transform: rotate(0deg);
	}
	
	25% {
	  transform: rotate(180deg);
	}
	
	50% {
	  transform: rotate(180deg);
	}
	
	75% {
	  transform: rotate(360deg);
	}
	
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes loader-inner {
	0% {
	  height: 0%;
	}
	
	25% {
	  height: 0%;
	}
	
	50% {
	  height: 100%;
	}
	
	75% {
	  height: 100%;
	}
	
	100% {
	  height: 0%;
	}
  }

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: #ccc;
}

nav {
	height: 40px;
	width: 100%;
	background-color: #0c0c0c;
	color: #ffe900;
	position: fixed;
}

nav ul {
	padding: 0;
	margin: 0;
	margin-right: 5%;
  
}

nav li {
	display: inline;
	float: right;
}

nav a {
	height: 20px;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	color: #0c0c0c;
	background-color: #ffe900;
	border-bottom: 1px solid #0c0c0c;
}

nav a#openup {
	display: none;
}

.cf:before,
.cf:after {
	content: '';
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

.headerYellowText {
	color: #ffe900;
	font-weight: 400;
	letter-spacing: 3px;
	font-size: 20px;
	margin-top: 120px;
}
.headerWhiteText {
	color: #fff;
	font-size: 72px;
	font-weight: 700;
	line-height: 1em;
	margin-top: 120px;
	margin-bottom: 40px;
}

.scroll-down {
	position: absolute;
	bottom: 3rem;
	left: 50%;
	transform: translateX(-50%);
	flex-direction: column;
	align-items: center;
}

.mouse {
	width: 1.25rem;
	height: 2.5rem;
	border: 2px solid #0c0c0c;
	border-radius: 2rem;
	margin-bottom: .5rem;
	display: flex;
}

.mouse span {
	width: 0.30rem;
	height: 0.65rem;
	background-color: #0c0c0c;
	display: block;
	border-radius: 40%;
	margin: auto;
	animation: move-wheel .9s linear infinite;
}

.arrow span {
	display: block;
	width: 0.60rem;
	height: 0.60rem;
	border: 2px solid transparent;
	border-right-color: #000;
	border-bottom-color: #000;
	transform: rotate(45deg);
	margin: auto;
	animation: arrow-down .6s alternate infinite;
}

@keyframes move-wheel {
	0% {
		opacity: 0;
		transform: translateY(-1rem);
	}
	100% {
		opacity: 1;
	}
}


@keyframes arrow-down {
	0% {
		opacity: 0;
	}
	25% {
		opacity: .25;
	}
	50% {
		opacity: .50;
	}
	75% {
		opacity: .75;
	}
	100% {
		opacity: 1;
	}
}

.player {
	background: #0c0c0c;
	width: 450px;
	height: 570px;
	color: #ffe900;
	box-shadow: 1px 1px 30px #111, -1px -1px 30px #111;
	overflow: hidden;
	display: block;
    margin-left: auto;
    margin-right: auto
}

.icons {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}
  
.icons a {
	color: #ffe900;
	font-size: 1.2em;
	transition: all 0.3s;
}
  
.icons a:hover {
	color: #0c0c0c;
}
  
.img {
	box-shadow: 1px 1px 15px #ffe900, -1px -1px 15px #ffe900;
	width: 60%;
	border-radius: 50%;
	margin: 30px auto;
	transition: all 0.3s;
	background-color: #ffe900;
}
  
.img img {
	border-radius: 50%;
}
  
.img:hover {
	box-shadow: 1px 1px 25px #ffe900, -1px -1px 25px #ffe900;
	transform: scale(1.03);
}

.title {
	text-align: center;
	margin: 10px 0;
}
  
.title h1 {
	font-size: 2em;
	margin: 0 0 10px 0;
}
  
.title p {
	color: #fff;
	font-size: 1.1em;
}
  
.time {
	text-align: center;
	margin: 15px 0;
}
  
.seek {
	width: 100%;
	height: 5px;
	background: #ffe900;
	border-radius: 50px;
}

.seek .fill {
	width: 0;
	height: 5px;
	background: #fff;
	border-radius: 50px;
}
  
.audio-btns {
	background: #ffe900;
	margin: 40px auto;
	height: 350px;
	width: 100%;
	text-align: center;
	color: #0c0c0c;
}
  
.audio-btns a:hover {
	color: #0c0c0c;
	cursor: pointer;
}
  
.play-btns {
	padding: 20px 0 30px 0;
}

.play-btns a {
	color: #0c0c0c;
	margin: 0 30px;
	font-size: 1.5em;
	transition: all 0.5;
}
  
.play-btns .play-pause {
	background: #ffe900;
	color: #0f0f0f;
}
  
.repeat-btns {
	margin: 5px 10;
}
  
.repeat-btns a {
	color: #0c0c0c;
	background: #ffe900;
	margin: 0 25px;
	font-size: 1.3em;
}
  
.repeat-btns button {
	width: 30px;
	height: 30px;
	border: none;
	font-size: 1.3em;
	font-weight: bold;
	background: #ffe900;
	color: #0c0c0c;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	box-shadow: 1px 1px 25px #111;
	transition: all 0.3s;
}
  
.repeat-btns button:hover {
	color: #ffe900;
	background-color: #0c0c0c;
	cursor: pointer;
}

audio:focus { 
	outline: 0; 
}

.section {
	padding: 2rem 0;
}

.section-head {
	font-size: 2.5rem;
	margin: 0;
}

.section h3 {
	font-size: 2rem;
}

#music {
	background-color: #0c0c0c;
	color: #ffe900;
}

#aboutMe {
	background-color: #0c0c0c;
	padding: 5rem 0;
	color: #ffe900;
}

.linia1 {
	border: 0;
    height: 2px;
    background: #0c0c0c;
    background-image: linear-gradient(to right, #f7ab1a, #0c0c0c, #f7ab1a);
}

.linia2 {
	border: 0;
    height: 2px;
    background: #0c0c0c;
    background-image: linear-gradient(to right, #0c0c0c, #f7ab1a, #0c0c0c);
}

#showcase {
	margin: 0;
	padding: 0;
	background: url('../img/headerBG.png') no-repeat center/cover;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow-y: hidden;
}

#showcase .container {
	margin-top: 25vh;
}

#showcase h1 {
	font-size: 4rem;
	margin-bottom: 0;
}

#showcase h2 {
	font-size: 2rem;
}

.container {
	max-width: 1180px;
	text-align: center;
	margin: 0 auto;
	padding: 0 3rem;
}

.lead {
	font-size: 1.3rem;
}

.text-center {
	text-align: center;
}

.btn {
	padding: 1rem;
	color: #fff;
	display: inline-block;
}

.btn-primary {
	background: var(--primary-color);
}

.btn-primary:hover {
	background: var(--primary-color-hover);
}

.btn-secondary {
	background: var(--secondary-color);
}

.btn-secondary:hover {
	background: var(--secondary-color-hover);
}

.text-primary {
	color: var(--primary-color);
}

.text-secondary {
	color: var(--secondary-color);
}

.text-secondary:hover {
	color: #ffe900;
	background-color: #0c0c0c;
	padding: 10px;
}

.albumPhoto{
	width: 45%;
}

#button {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	border: 2px solid #ffe900;
	text-transform: uppercase;
	color: #ffe900;
	text-decoration: none;
	font-weight: 600;
	font-size: 17px;
}

#button:before {
	content: '';
	position: absolute;
	top: 6px;
	lefT: -2px;
	width: calc(100% + 4px);
	height: calc(100% - 12px);
	background: #0c0c0c;
	transition: 0.5s ease-in-out;
	transform: scaleY(1);
	transition-delay: 0.5s;
}

#button:hover:before, #button2:hover:before{
	transform: scaleY(0);
}

#button:after {
	content: '';
	position: absolute;
	left: 6px;
	top: -2px;
	height: calc(100% + 4px);
	width: calc(100% - 12px);
	background: #0c0c0c;
	transition: 0.5s ease-in-out;
	transform: scaleX(1);
}

#button:hover:after, #button2:hover:after{
	transform: scaleX(0);
}

#button2 {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	border: 2px solid #0c0c0c;
	text-transform: uppercase;
	color: #0c0c0c;
	text-decoration: none;
	font-weight: 600;
	font-size: 17px;
}

#button2:before {
	content: '';
	position: absolute;
	top: 6px;
	lefT: -2px;
	width: calc(100% + 4px);
	height: calc(100% - 12px);
	background: #ffe900;
	transition: 0.5s ease-in-out;
	transform: scaleY(1);
	transition-delay: 0.5s;
}

#button2:after {
	content: '';
	position: absolute;
	left: 6px;
	top: -2px;
	height: calc(100% + 4px);
	width: calc(100% - 12px);
	background: #ffe900;
	transition: 0.5s ease-in-out;
	transform: scaleX(1);
}

span {
	position: relative;
	z-index: 3;
}

.contact {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	text-align: left;
}

.contact h2{
	font-size: 35px;
}

.contact p{
	font-size: 18px;
}

.contact img {
	width: 85%;
}

.contact a:hover {
	color: #ffe900;
	background-color: #0c0c0c;
	padding: 5px;
}

.fanpage {
	color: var(--secondary-color);
}

footer .footer-cols {
	background-color: #0c0c0c;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	padding: 2rem;
	text-align: left;
	font-size: 14px;
}

footer .footer-cols ul {
	list-style: none;
}

footer .footer-cols ul li:first-child {
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
	border-bottom: #444 solid 1px;
	margin-bottom: 1rem;
	color: white;
}

footer .footer-cols a:hover {
	color: #ffe900;
}

footer .footer-bottom {
	background-color: #0c0c0c; /*#17191f;*/
	padding: 1rem;
	color: white;
}

footer .footer-bottom a:hover {
	color: #ffe900;
}

@media screen and (max-width: 1524px) {
	nav ul{
		margin-right: 2%;
	}
}

@media screen and (max-width: 1024px) {
	nav ul {
		margin-right: 2%;
	}
	.player {
		width: 350px;
		height: 520px;
	}
}

@media screen and (max-width: 780px) {
	.contact {
		grid-template-columns: 1fr;
	}
	footer .footer-cols {
		display: none;
	}
	.contact img {
		width: 280px;;
	}
}

@media screen and (max-width: 580px) {
	.hide-on-small {
		display: none;
	}
	#showcase {
		height: 100vh;
	}
	#showcase .container {
		margin-top: 15vh;
	}
	#showcase h1 {
		font-size: 3rem;
	}
	#showcase h2 {
		font-size: 1.5rem;
	}
	#showcase p.lead {
		display: none;
	}
	nav {
		height: auto;
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav li {
		width: 100%;
		float: left;
		position: relative;
	}
	nav a {
		text-align: left;
		width: 100%;
		text-indent: 25px;
		background: #0c0c0c;
	}
	nav li:hover {
		color: #fff;
		background-color: #ffe900;
	}
	nav a#openup:after {
		content: '|||';
		transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
    /* IE 9 */
		-webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 5px;
		top: 20px;
	}
	nav a#openup {
		display: block;
		background-color: #0c0c0c;
		width: 100%;
		position: relative;
	}
	nav a#openup:hover {
		display: block;
		background-color: #0c0c0c;
		color: #fff;
		width: 100%;
		position: relative;
	}
	nav a:hover {
		border-bottom: none;
	}
}

@media screen and (max-width: 580px) {
	.player {
		width: 270px;
		height: 470px;
	}
}

@media screen and (max-width: 400px) {
	.contact img {
		width: 200px;;
	}
}

@media screen and (max-width: 320px) {
	.player {
		width: 250px;
		height: 460px;
	}
	.play-btns a {
		margin: 0 10px;
	}
}